*{
    margin: auto;
}
body{
    background-color: black;
    color: white;
    margin: auto;
    word-wrap: inherit;
}
.section3{
    border-top: 5px dashed white;
    padding-top: 50px;
    padding-bottom: 40px;

}
#section5{
    background-color: white;
    color: black;
    text-align: center;
    padding-bottom: 20px;
}
#section5 div{
    max-width: 600px;
    text-align: left;
    padding-left: 10px;
}
#section5 h1{
    font-size: 40px;
    padding: 20px 0px;
    border-bottom: 5px solid gold;
    color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#section5 h3{
    font-style: italic;
    font-size: 26px;
    padding-bottom: 8px;
    padding-top: 20px;
}
.section3 p{
    font-size: 20px;
}
#about1{
    font-family: cursive;
    font-style: italic;
    font-size: 34px;
    margin-bottom: 20px;
    padding-top: 30px;

}
.section4{
    background-color: white;
    color: black;
    font-size: 24px;
   
    box-sizing: border-box;
}
.section4 div{
    width: 700px;
    
}
@media(max-width: 770px){
    
    .section4 div{
        width: 500px;
        
    }
}

@media(max-width: 570px){
    .section3 p{
        padding: 20px;
        box-sizing: border-box;
    }
    .section4 div{
        width: 350px;
        
    }
}
#ment{
    display: flex;

}


#topping{
    position: fixed;
    top: 0px;
    padding-top: 10px;

    background-color: gold;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    height: 5%;
    letter-spacing: 10px;
}
.olivia{
    letter-spacing: 3px;

}
.section2{
    min-height:500px;
}
.science{
    margin-left: 20px;
    width: 350px;
    height: 230px;
    padding-bottom: 30px;

}
.section2 div{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

}
#body{
    background-image: url('media/download.jpg');
    background-repeat: round;
    height: 330px;
    
}
.heading{
    font-size: 50px;
    text-align: center;
    padding-top: 60px;
    color: black;

}
.copy{
    background-color: aliceblue;
    color: black;
    padding: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#thanks{
    margin-top: 100px;
    font-size: 40px;
    text-align: center;
}
.section1{
    padding: 30px;
    background-color: white;
    color: black;
    border-bottom: gold solid 2px;
    font-size: 24px;
    text-align: center;
}

#mid-way{
    margin-bottom: 30px;
    font-size: 30px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
}
#note{
    width: 700px;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 24px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;

}
#font-font{
    font-size: 33px;
}
.section7{
    text-align: center;
}
.fill{
    padding-right: 30px;
}
.clear{
    clear: both;
}
.section6{
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 24px;

}
.section6 hr{
    height: 6px;
    width: 200px;
    background-color: black;
    float: left;
    margin-bottom: 20px;

}
.section6 h1{
    font-size: 30px;    
}
#bars{
    margin-top: 40px;
    max-width: 300px;
    max-height: 150px;
    min-height: 35px;
    min-width: 200px;
    font-size: 18px;
}
#img1{
    width: 50%;
    height: 10%;
    
}
#familia{
    display: flex;
}
#img2{
    width: 50%;
    height: 10%;
}
#ol{
    background-color: black ;
    border-bottom: white 2px solid ;
    display: flex;
}
#ol li{
    list-style-type: none;
}

ol a{
    font-size: 30px;
    color: gold;
    text-decoration: none;
}
#about{
    margin-top: 58px;

    overflow: hidden;

}
@media(max-width: 700px){
    #about{
        margin-top: 55px;
    
    
    }
}
label{
    margin-right: 10px;
    padding-top: 24px;
    font-size: 35px;
    font-family: Edwardian Script ITC;
}
#signup{
    margin-top: 0px;
    text-align: center;
    color: white;
}
.big{
    font-size: 45px;
    color: gold;
    font-weight: bold;
}
.input{
    border-top-left-radius: 15px;
    font-size: 18px;
    border-bottom-right-radius: 15px;
    
    margin-right: 30px;
}
.w1{
    padding-bottom: 20px;
    letter-spacing: 2px;
    word-wrap: none;
    word-spacing: 8px;
}
.submit{
    margin-top: 30px;
    display: block;
    font-size: 35px;
    color: white;
    background-color: black;
    font-family: Edwardian Script ITC;

}

form{
    margin-top: 50px;
    margin-bottom: 40px;
}
#message{
    margin-bottom: 20px;
    font-size: 35px;
    font-family: Edwardian Script ITC;
}
#img{
    width: 100%;
}
#imges1{
    width: 100%;
    text-align: center;
}
@media(max-width: 785px){
    .line{
        display: block;
    }
    ol a{
        font-size: 18px;
    }
    .heading{
        font-size: 35px;
        color: white;
    }
    #body{
        background-image: url('media/download.jpg');
        height: 330px;
        background-repeat: unset;
        
        
    }
    .scope{
        width: 220px;
        margin-bottom: 100px;
        margin-right: 6px;
    }
#note{
    width: 400px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 25px;

}




